<header>
  <div class="logo"><img src="assets/images/logo.jpg" alt=""></div>
</header>
<!-- Header End Here -->

<section class="gmap">
  <div class="powered">Powered By <img src="assets/images/rc_ic.svg" alt="map"></div>
  <app-googlemap></app-googlemap>
</section>


<!-- Order Container Start Here -->
<section class="ordercont">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Order ID <span>{{order.id.substr(-6, 6) | uppercase}}</span></h2>

        <div class="row address">
          <div class="col-2"><img src="assets/images/location_ic.svg" alt=""></div>
          <div class="col-10 pl-0">
            {{order.delivery_address.google_address}}
          </div>
        </div>
      </div>
    </div>
    <div class="row orderstatus">
      <div class="col-6 gr-color">
        Estimated delivery time
      </div>
      <div class="col-6 txtright b-color">
        Less than 5 minutes
      </div>
      <div class="w-100"></div>
      <div class="col-12">
        <h3>Order Status</h3>
        <div class="status"><img src="assets/images/order-status.jpg" alt=""></div>
      </div>
      <div class="col-12 rider">
        Rider has picked up your order
      </div>
    </div>
    <div class="row user">
      <div class="col">
        <div class="row">
          <div class="col-3 u-pic"><img src="assets/images/user.jpg" alt=""></div>
          <div class="col-6 u-name"><strong>{{order.rider.name}}<img src="assets/images/info_ic.svg" alt=""></strong>
            {{order.rider.mobile_number}}</div>
          <div class="col-3 callbtn txtright"><img src="assets/images/call_ic.svg" alt=""></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-primary w-100">View Order Info</button>
      </div>
      <div class="col-12 issue">
        Facing Issue? <a href="#">Chat with us</a>
      </div>
    </div>
  </div>
</section>
<!-- Order Container End Here -->
