<!-- Header Start Here -->
<header>
    <div class="logo"><img src="assets/images/logo.jpg" alt=""></div>
</header>
<!-- Header End Here -->

<!-- Order Summary Start Here -->
<section class="order-summary-cont">
    <div class="container">
        <div class="row">
            <div class="col-12 info">Order Info</div>
            <div class="col-12">
                <div class="summary">
                    <div class="order-number">
                        <p class="head"><img src="assets/images/order_number.svg" alt=""> Order Number</p>
                        <p class="txt blue">234567835</p>
                    </div>
                    <div class="address">
                        <p class="head"><img src="assets/images/location.svg" alt=""> Delivery Address</p>
                        <p class="txt">B - 66, Second Floor, Naraina Industrial Area
                        Phase 2, New Delhi, Delhi 110028</p>
                    </div>
                    <div class="mode">
                        <p class="head"><img src="assets/images/payment.svg" alt=""> Payment Mode</p>
                        <p class="txt">Paid: <span  class="blue">Using UPI</span></p>
                    </div>

                    <div class="date">
                        <p class="head"><img src="assets/images/date_time.svg" alt=""> Date and Time</p>
                        <p class="txt">12-Aug-2022, at 1:35 PM</p>
                    </div>

                    <div class="items-details">
                        <table>
                            <tbody>
                            <tr>
                                <td colspan="2"><strong>Items</strong></td>
                                <td colspan="2" class="text-right"><strong>Amount</strong></td>
                            </tr>
                            <tr>
                                <td style="width:18px;"><div class="f-cat non-veg"><span></span></div></td>
                                <td>Non Veg Loaded</td>
                                <td class="text-center" style="width:48px;">x 2</td>
                                <td style="width:66px;" class="text-right">₹398.0</td>
                            </tr>
                            <tr>
                                <td><div class="f-cat veg"><span></span></div></td>
                                <td>Veg Loaded</td>
                                <td class="text-center">x 1</td>
                                <td class="text-right">₹199.0</td>
                            </tr>
                            <tr>
                                <td><div class="f-cat veg"><span></span></div></td>
                                <td>Cheesy Corn</td>
                                <td class="text-center">x 1</td>
                                <td class="text-right">₹99.0</td>
                            </tr>
                    <tr>
                        <td colspan="2" class="bold">Sub Total</td>
                        <td colspan="2" class="bold text-right">₹696.0</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="bold">Discount</td>
                        <td colspan="2" class="text-right discount bold">- ₹100.0</td>
                    </tr>
                    <tr>
                        <td colspan="2">Taxes &amp; Charges</td>
                        <td colspan="2" class="text-right">₹89.85</td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Grand Total</strong></td>
                        <td colspan="2" class="text-right"><strong>₹685.85</strong></td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bottombtn">
            <div class="col-12">
                <button type="button" class="btn btn-primary w-100" [routerLink]="'order_summary'">CANCEL ORDER</button>
            </div>
        </div>
    </div>
</section>
<!-- Order Summary End Here -->
